<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- TODO: Fix data check (no need for ngIf if check is made with routing) -->
    <ion-title *ngIf="asset">
      <div class="d-flex ion-align-items-center">
        <img class="ion-padding-end" src="https://assets.coincap.io/assets/icons/{{ asset.symbol | lowercase }}@2x.png" height="25px" alt="{{ asset.name }}">
        {{ asset.name }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="asset">
    <ion-row *ngIf="data" class="ion-padding-bottom">
      <ion-col>
        <canvas id="chart"></canvas>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!data" class="ion-padding-bottom">
      <ion-col size="2">
        <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-text>NO HISTORICAL DATA</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Rank</ion-col>
      <ion-col>{{ asset.rank }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Symbol</ion-col>
      <ion-col>{{ asset.symbol }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Current Supply</ion-col>
      <ion-col>
        {{ asset.supply | number }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Max Supply</ion-col>
      <ion-col>
        {{ asset.maxSupply ? (asset.maxSupply | number) : 'No max supply'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Market Cap</ion-col>
      <ion-col>{{ asset.marketCapUsd | currency: rate.symbol }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Volume 24H</ion-col>
      <ion-col>{{ asset.volumeUsd24Hr | currency: rate.symbol }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Price</ion-col>
      <ion-col>{{ asset.priceUsd | currency: rate.symbol }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Variation 24H</ion-col>
      <ion-col>
        <ion-text [color]="asset.changePercent24Hr > 0 ? 'success' : 'danger'">
          {{ asset.changePercent24Hr | number: '1.0-2' }}%
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Volume Average 24H</ion-col>
      <ion-col>{{ asset.vwap24Hr | number }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Explorer</ion-col>
      <ion-col><a href="{{ asset.explorer }}" target="_blank">{{ asset.explorer }}</a></ion-col>
    </ion-row>
  </ion-grid>

  <app-no-content *ngIf="!asset"></app-no-content>

</ion-content>